@import "../assets/styles/theme.less";
@import "../assets/styles/flex.less";

.mf-app-component {
    height: 100%;
    color: @brand-color;

    .mf-layout-wrapper {
        height: 100%;

        .mf-header {
            min-height: @header-height;
        }

        .mf-header,
        .mf-menu,
        .mf-content,
        .mf-footer {
            border: 1px solid blue;
        }

        .mf-menu-rest-wrapper {
            height: calc(100% - @header-height - @border-width - @border-width);


            .mf-menu {
                min-width: 25%;
            }

            .mf-footer {
                min-height: @footer-height;
            }

            .mf-content {
                max-height: calc(100% - @footer-height);
                overflow-y: auto;
            }
        }
    }
}
