@import "../assets/styles/theme.less";
@import "../assets/styles/flex.less";

.mf-app-component {
    height: 100%;
    color: @brand-color;

    .mf-layout-wrapper {
        height: 100%;

        .mf-header {
            min-height: @header-height;
            position: relative;

            .mf-toggle-direction {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .mf-header,
        .mf-menu,
        .mf-content,
        .mf-footer {
            border: 1px solid blue;
        }

        .mf-menu-rest-wrapper {
            height: calc(100% - @header-height - @border-width - @border-width);


            .mf-menu {
                min-width: 25%;

                .title {

                    .mat-basic {
                        color: red;
                    }
                }
            }

            .mf-footer {
                min-height: @footer-height;
            }

            .mf-content {
                max-height: calc(100% - @footer-height);
                overflow-y: auto;
            }
        }
    }

    &.mf-ltr {

        .mf-layout-wrapper {

            .mf-header {

                .mf-toggle-direction {
                    left: 0;
                }
            }
        }
    }

    &.mf-rtl {

        .mf-layout-wrapper {

            .mf-header {

                .mf-toggle-direction {
                    right: 0;
                }
            }
        }
    }
}
