<div class="mf-app-component">
    Hello world!
    <br />
    {{ myProperty.length }}
    <div>
        <i>Ilya</i>
        <div [innerText]="myProperty"></div>
    </div>
    <div [innerHtml]="htmlProperty"></div>

    <div (click)="onClickMeClick()">Click on me!!</div>
 
    <br />
    <br />

    <div [innerHtml]="cardMessage"></div>

    {{"Person: " + JSON.stringify(person)}}
    <br />
    <br />


    <mf-person-card 
        [(personName)]="person.name"
        [(personId)]="person.id"
        [(personAddress)]="person.address"
        [(personEmail)]="person.email"
        (onModeChange)="onCardModeChanged($event)"
        >
    </mf-person-card>

    <br />
    <br />
</div>