<div class="flex-basics-page external-container">
    <!-- <div class="def-item flex-1">Flex item 01</div>
    <div class="def-item flex-2">Flex item 02</div>
    <div class="def-item flex-3">Flex item 03</div>
    <div class="def-item flex-4">Flex item 04</div>
    <div class="def-item flex-5">Flex item 05</div>
    <div class="def-item flex-6">Flex item 06</div> -->

    <div class="internal-element">
        lkajdfghlakjhda sdf;lkajsdfl kjas;dlk fa;sdj a
    </div>

    <mat-form-field class="full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
</div>
