<div class="mf-person-card">
    <div class="left-pane">
        <div>Name</div>
        <div>ID</div>
        <div>Address</div>
        <div>Email</div>
    </div>
    <div class="right-pane">

        <div [hidden]="mode !== ViewMode.ReadOnly">
            <div [innerText]="personName"></div>
            <div [innerText]="personId"></div>
            <div [innerText]="personAddress"></div>
            <div [innerText]="personEmail"></div>
        </div>

        <div [hidden]="mode !== ViewMode.Edit">
            <div>
                <input type="text" [(ngModel)]="personName" (keyup)="onPersonNameChange()" />
            </div>
            <div>
                <input type="number" [(ngModel)]="personId" (keyup)="onPersonIdChange()" />
            </div>
            <div>
                <input type="text" [(ngModel)]="personAddress" (keyup)="onPersonAddressChange()" />
            </div>
            <div>
                <input type="text" [(ngModel)]="personEmail" (keyup)="onPersonEmailChange()" />
            </div>
        </div>
    </div>

    <div class="clear-both"></div>

    <button 
        [innerText]="buttonTitle" 
        (click)="onToggleModeClick()"
        >
    </button>
</div>
