@import "./assets/styles/theme.less";

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/lato/Lato-Bold.eot");
    src: url("./assets/fonts/lato/Lato-Bold.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/lato/Lato-Bold.woff") format("woff"),
    url("./assets/fonts/lato/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/lato/Lato-Regular.eot");
    src: url("./assets/fonts/lato/Lato-Regular.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/lato/Lato-Regular.woff") format("woff"),
    url("./assets/fonts/lato/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: @font-family;
    margin: 0;
    overflow: hidden;
}

// all sizes up to width of 800px
@media only screen and (max-width: 800px) {
    body {
        font-size: @font-min-size;
    }
}

// Starting width 800px till 1024px
@media only screen and (min-width: 800px) {
    body {
        font-size: @font-base-size;
    }
}

// Starting width of 1024px
@media only screen and (min-width: 1024px) {
    body {
        font-size: @font-max-size;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
