<div class="persons-page">
    Hello world!
    <br />
    {{ myProperty.length }}
    <div>
        <i>Ilya</i>
        <div [innerText]="myProperty"></div>
    </div>
    <div [innerHtml]="htmlProperty"></div>

    <div (click)="onClickMeClick()">Click on me!!</div>

    <br />
    <mf-generic-radio-button 
        [options]="layoutOptions"
        [layout]="Layout.Horizontal"
        [(value)]="selectedPersonLayout"
        >
    </mf-generic-radio-button>

    <br />
    <mf-generic-radio-button 
        [options]="personOptions"
        [layout]="selectedPersonLayout"
        [(value)]="selectedPerson"
        >
    </mf-generic-radio-button>
    <br />

    <div [innerHtml]="cardMessage"></div>

    <br />
    <br />


    <mf-person-card *ngFor="let person of persons; index as i"
        [(personName)]="person.name"
        [(personId)]="person.id"
        [(personAddress)]="person.address"
        [(personEmail)]="person.email"
        [(personGender)]="person.gender"
        (onModeChange)="onCardModeChanged($event, i)"
        (onSaveClicked)="onSaveClicked()"
        >
    </mf-person-card>
        
    <div *ngIf="!persons">No data</div>

    <br />
    <br />
</div>
