<div class="persons-page">
    Hello world!
    <br />
    {{ myProperty.length }}
    <div>
        <i>Ilya</i>
        <div [innerText]="myProperty"></div>
    </div>
    <div [innerHtml]="htmlProperty"></div>

    <div (click)="onClickMeClick()">Click on me!!</div>

    <br />
    <mf-generic-multiselect
        [options]="layoutOptions"
        [layout]="Layout.Horizontal"
        [isMultiselect]="false"
        [value]="selectedPersonLayout"
        (valueChange)="setOptionValue('selectedPersonLayout', $event)"
        >
    </mf-generic-multiselect>
    {{selectedPersonLayout}}

    <br />
    <mf-generic-multiselect
        [options]="personOptions"
        [layout]="selectedPersonLayout"
        [isMultiselect]="true"
        [value]="selectedPersons"
        (valueChange)="setOptionValue('selectedPersons', $event)"
        >
    </mf-generic-multiselect>
    <br />

    <div [innerHtml]="cardMessage"></div>

    <br />
    <br />


    <mf-person-card *ngFor="let person of personService.persons; index as i"
        [(personName)]="person.name"
        [(personId)]="person.id"
        [(personAddress)]="person.address"
        [(personEmail)]="person.email"
        [(personGender)]="person.gender"
        [personBirthdate]="person.birthdate"
        [personSalary]="person.salary"
        (onModeChange)="onCardModeChanged($event, i)"
        (onSaveClicked)="onSaveClicked()"
        >
    </mf-person-card>

    <div *ngIf="!personService.persons">No data</div>

    <br />
    <br />
</div>
